<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webNewModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${session.company ne null?session.company.name:'收银台'}">收银台</title>
    <style>
        .money-show {
            font-weight:bold; color:#F60; font-size:20px;
        }
    </style>
</head>
<body>
<div th:fragment="content" th:remove="tag">

    <div class="page-header">
        <h4><i class="fa fa-random"></i> 收银对账 <small th:text="${curDate}">Subtext for header</small></h4>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-info">
                <div class="panel-heading">自助餐收银对账：</div>
                <div class="panel-body">
                    <p>现金订单数：<span th:text="${selfDto.cashTotal}"></span> 笔</p>
                    <p>其他订单数：<span th:text="${selfDto.otherTotal}"></span> 笔</p>
                    <p>现金金额：<span th:text="${selfDto.cashMoney}"></span> 元</p>
                    <p>其他金额：<span th:text="${selfDto.otherMoney}"></span> 元</p>
                    <p>当前压金：<span th:text="${selfDto.curBond}"></span> 元</p>
                    <p>已扣压金：<span th:text="${selfDto.decuctBond}"></span> 元</p>
                    <p>钱箱金额：<span class="money-show" th:text="${selfDto.decuctBond+selfDto.curBond+selfDto.cashMoney}"></span> 元</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-info">
                <div class="panel-heading">外卖收银对账：</div>
                <div class="panel-body">
                    <p>现金订单数：<span th:text="${outDto.cashTotal}"></span> 笔</p>
                    <p>其他订单数：<span th:text="${outDto.otherTotal}"></span> 笔</p>
                    <p>现金金额：<span th:text="${outDto.cashMoney}"></span> 元</p>
                    <p>其他金额：<span th:text="${outDto.otherMoney}"></span> 元</p>
                    <p>当前压金：<span>-</span> 元</p>
                    <p>已扣压金：<span>-</span> 元</p>
                    <p>钱箱金额：<span class="money-show" th:text="${outDto.decuctBond+outDto.curBond+outDto.cashMoney}"></span> 元</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-primary">
                <div class="panel-heading">收银对账（总结）：</div>
                <div class="panel-body">
                    <p>现金订单数：<span th:text="${outDto.cashTotal + selfDto.cashTotal}"></span> 笔</p>
                    <p>其他订单数：<span th:text="${outDto.otherTotal + selfDto.otherTotal}"></span> 笔</p>
                    <p>现金金额：<span th:text="${outDto.cashMoney + selfDto.cashMoney}"></span> 元</p>
                    <p>其他金额：<span th:text="${outDto.otherMoney + selfDto.otherMoney}"></span> 元</p>
                    <p>当前压金：<span th:text="${outDto.curBond + selfDto.curBond}"></span> 元</p>
                    <p>已扣压金：<span th:text="${outDto.decuctBond + selfDto.decuctBond}"></span> 元</p>
                    <p>钱箱现金金额：<span class="money-show" th:text="${outDto.decuctBond+outDto.curBond+outDto.cashMoney + selfDto.decuctBond+selfDto.curBond+selfDto.cashMoney}"></span> 元</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>