<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webNewModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>收银对账</title>
    <script src="/js/jedate/jquery.jedate.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/js/jedate/skin/jedate.css"/>
    <script src="/admin/bus/my-date.js"></script>
    <script src="/web/newOrders/orders-cash.js"></script>
    <script src="/web/newOrders/add-income.js"></script>
    <script src="/web/multi/cal.js"></script>
    <link type="text/css" rel="stylesheet" href="/web/multi/web-order-settle.css"/>
    <link type="text/css" rel="stylesheet" href="/web/multi/web-order-normal.css"/>
    <script>
        $(function() {
            $(".order-day").jeDate({
                isinitVal:true, //初始化日期
                festival: true, //显示农历
                isClear:false,
                maxDate: curDate(),
        //        skinCell:'jedatered',
                format: 'YYYY-MM-DD'
            });
        });

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="container" style="background:#FFF; min-height:400px; height:100%; padding:15px;">
        <div class="header lighter smaller blue" style="color:#555; padding-bottom:10px;">
            <h4><span class="fa fa-list"></span>&nbsp;收银对账</h4>
        </div>

        <div class="input-group">
            <span class="input-group-addon">日期</span>
            <input type='text' style="width:140px;" th:value="${day}" class='filter_element form-control order-day'
                   opt="eq" name='day'/>
            <span><button type="button" class="btn btn-primary btn-sm" id="beginFilter">查询</button></span>
        </div>

        <div class="row" style="padding-top:10px;">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">菜品总计：</div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs food-nav-ul" style="margin-top:8px">
                            <li class="already-nav active" targetCls="food-list">
                                <a class="dropdown-toggle" href="#">有效菜品 <span class="badge red-badge useful-badge"></span></a>
                            </li>
                            <li class="new-append-nav" targetCls="refund-list">
                                <a class="dropdown-toggle">已退菜品 <span class="badge refund-badge"></span></a>
                            </li>
                        </ul>

                        <div class="food-list nav-con-div">
                            <ul class="normal-food-ul">
                                <li class="header">
                                    <div class="price">品名</div>
                                    <div class="total">数量</div>
                                </li>
                                <!-- 用于存放菜品 -->
                                <div class="food-list-container">
                                    <li th:each="food : ${detailList}" >
                                        <div class="name" th:text="${food.foodName}"></div>
                                        <div class="total"><b th:class="${(food.amount gt 1)?'amount':'food_amount'}" th:text="${food.amount}"></b></div>
                                    </li>
                                </div>
                            </ul>
                        </div>

                        <div class="refund-list nav-con-div" style="display: none;">
                            <ul class="normal-food-ul">
                                <li class="header">
                                    <div class="price">品名</div>
                                    <div class="total">数量</div>
                                </li>
                                <!-- 用于存放菜品 -->
                                <div class="refund-list-container">
                                    <li th:each="food : ${refundList}">
                                        <div class="name" th:text="${food.foodName}"></div>
                                        <div class="total"><b th:class="${(food.amount gt 1)?'amount':'food_amount'}" th:text="${food.amount}"></b></div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">统计：</div>
                    <div class="panel-body">
                        <p th:if="${unEndCount ne null and unEndCount>0}" style="color:#F00; font-size: 24px;">
                            注意：有【<b th:text="${unEndCount}"></b>】桌未结算。
                        </p>
                        <p>桌数：<b th:text="${deskCount}"></b> 人</p>
                        <p>人数：<b th:text="${peopleCount}"></b> 人</p>
                        <p>抹零：<b th:text="${dotCount}"></b> 桌，抹零：<b th:text="${dotMoney}"></b> 元 </p>
                        <p>营业额：<b th:text="${totalMoney}" style="color:#F00;"></b> 元，抵扣：<b th:text="${discountMoney}" style="color:#F00;"></b>，实收：<b th:text="${totalMoney-dotMoney-discountMoney}" id="realTotalMoney" style="color:#F00"></b> 元</p>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">收银计算器：</div>
                    <div class="panel-body">
                        <p>应有现金：<b id="calTotalMoney" style="font-size:24px; color:#F00;">0</b>
                            <small>(不包含备用金)</small>
                        </p>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">实收微信：</div>
                                <input id="weixinMoney" class="form-control need-rebuild"
                                       onkeyup="value=value.replace(/[^\d\.]/g,'')" th:value="${wxMoney}" placeholder="请输入实收微信金额"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">实收支付宝：</div>
                                <input id="alipayMoney" class="form-control need-rebuild"
                                       onkeyup="value=value.replace(/[^\d\.]/g,'')" th:value="${alipayMoney}" placeholder="请输入实收支付宝金额"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">其他支出：</div>
                                <input id="payMoney" class="form-control need-rebuild"
                                       onkeyup="value=value.replace(/[^\d\.]/g,'')" value="0" placeholder="请输入其他支出金额"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">其他收入：</div>
                                <input id="inMoney" class="form-control need-rebuild"
                                       onkeyup="value=value.replace(/[^\d\.]/g,'')" value="0" placeholder="请输入其他收入金额"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">营收入账</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-addon">营收总额：</div>
                                <input id="todayTotalMoney" class="form-control"
                                       onkeyup="value=value.replace(/[^\d\.]/g,'')" value="0" placeholder="请输入当天营收总额"
                                       th:value="${income eq null? (totalMoney-dotMoney-wxMoney-alipayMoney) : income.money}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-addon">桌数：</div>
                                <input id="todayTotalDesk" class="form-control"
                                       onkeyup="value=value.replace(/[^\d\.]/g,'')" value="0" placeholder="请输入当天桌数"
                                       th:value="${income eq null? (deskCount) : income.deskCount}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-addon">人流数量：</div>
                                <input id="todayTotalCount" class="form-control"
                                       onkeyup="value=value.replace(/[^\d\.]/g,'')" value="0" placeholder="请输入当天人流量"
                                       th:value="${income eq null? (peopleCount) : income.peopleCount}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <button class="btn btn-lg btn-success" onclick="submitAddIncome()"><b class="fa fa-check"></b> 确认提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>