<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webNewModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${session.company ne null?session.company.name:'订单列表'}">收银台</title>
    <script src="/web/web-show-time.js"></script>
</head>
<body>
    <div th:fragment="content" th:remove="tag">
        <div class="container" style="background:#FFF; min-height:400px; height:100%; padding:15px;">
            <div class="header lighter smaller blue" style="color:#555; padding-bottom:10px;">
                <h4><span class="fa fa-list"></span>&nbsp;订单列表（<span th:text="${datas.getTotalElements()}"></span>）</h4>
            </div>
            <div th:replace="web/newOrders/filter :: content" th:remove="tag"></div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>订单编号</th>
                        <th>订单金额/实付</th>
                        <th>标记</th>
                        <th>日期</th>
                        <th>优惠类型</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tr th:each="obj : ${datas}">
                        <td><a th:href="'/web/foodOrder/onSettle?orderNo='+${obj.no}" th:text="${obj.no}"></a>
                            <p>收银员：<span th:text="${obj.cashierName}"></span></p>
                        </td>
                        <td>
                            <p>桌号：<b th:text="${obj.tableName}"></b></p>
                            <p>
                            <span title="订单金额" th:text="${obj.totalMoney}"></span>
                            /<span title="实付金额" th:text="${obj.totalMoney2}"></span>
                            （<span th:switch="${obj.payType}" th:remove="tag"><span th:case="1">现</span><span th:case="2">微</span><span th:case="3">支</span><span th:case="4">刷卡</span><span th:case="5">商</span></span>）
                            </p>
                        </td>
                        <td>
                            <span th:if="${obj.removeDot eq '1'}" style="color:#F00">已抹零</span>
                            <span th:if="${obj.removeDot ne '1'}" style="color:#00F">未抹零</span>
                            <b th:if="${obj.removeDot eq '1'}" th:text="${obj.dotMoney}"></b>
                        </td>
                        <td>
                            <p th:text="${obj.createTime}"></p>
                            <p th:if="${obj.endTime ne null}">用时：<span th:text="${obj.endLong-obj.createLong}" class="show-seconds"></span></p>
                            <p th:if="${obj.endTime eq null}">用时：<span th:text="${obj.createLong}" class="show-seconds-now"></span></p>
                        </td>
                        <td th:switch="${obj.discountType}">
                            <span th:case="0">无优惠</span>
                            <span th:case="1">积分抵价（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="2">亲情折扣（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="3">卡券抵价（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="4">微信扣款（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="5">会员扣款（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="6">美团抵价（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="9">飞凡抵价（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="10">时段折扣（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="13">套餐抵扣（<b th:text="${obj.discountMoney}"></b> 元）</span>
                            <span th:case="*">-</span>
                        </td>
                        <td th:switch="${obj.status}">
                            <span th:case="0">用餐中...</span>
                            <b th:case="1" style="color:#00F;">已完成</b>
                        </td>
                        <td>
                            <div class="action-buttons">
                                <a class="green" title="查看详情" th:href="'/web/foodOrder/onSettle?orderNo='+${obj.no}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>

                <div th:include="fragments/page :: pager" th:remove="tag"></div>
            </div>
        </div>
    </div>
</body>
</html>