<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webNewModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${session.company ne null?session.company.name:'收银台'}">收银台</title>
    <link type="text/css" rel="stylesheet" href="/web/newOrders/orders-index.css"/>
    <link type="text/css" rel="stylesheet" href="/web/newOrders/orders-pay.css"/>
    <script type="text/javascript" src="/web/newOrders/orders-index.js"></script>
    <script type="text/javascript" src="/web/newOrders/orders-pay-list.js"></script>
    <script type="text/javascript" src="/web/newOrders/orders-show-btn.js"></script>
    <link type="text/css" rel="stylesheet" href="/web/web-orders-show.css"/>
    <script src="/web/web-show-time.js"></script>
</head>
<body>
    <div th:fragment="content" th:remove="tag">
        <div class="orders-main-div ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                    <div class="max-height pay-commodity-list">
                        <h4 class="title">订单信息</h4>
                        <div class="order-info">
                            <p>订单编号：<span th:text="${order.no}"></span></p>
                            <p>订单金额：<span th:text="${order.totalMoney}"></span> 元</p>
                            <p>商品数量：<span th:text="${order.commodityCount}"></span></p>
                            <p>创建时间：<span th:text="${order.createTime}"></span></p>
                        </div>
                        <table class="commodity-table">
                            <tr>
                                <th>商品</th>
                                <th>数量</th>
                                <th>小计</th>
                            </tr>
                        </table>
                        <div class="commodity-list-hidden" style="display:none1">
                            <span th:each="commodity : ${commodityList}" th:attr="comName=${commodity.commodityName}, comNo=${commodity.commodityNo}, price=${commodity.price}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                    <div class="max-height" style="padding:15px;">
                        <h4 th:text="${order.isSelf eq '1'?'自助餐':'外卖单品'}" style="color:#F60; padding:0px 0px 8px 15px; border-bottom:1px #eee solid;"></h4>
                        <div th:remove="tag" th:if="${order.isSelf eq '1'}">
                            <div th:replace="web/newOrders/isSelf :: content" th:remove="tag"></div>
                        </div>
                        <div th:remove="tag" th:if="${order.isSelf eq '0'}">
                            <div th:replace="web/newOrders/unSelf :: content" th:remove="tag"></div>
                        </div>
                        <div style="width:100%; padding-top:15px; padding-left:10px;" th:if="${order.isSelf eq '1' and (order.status eq '0' or order.status eq '1' or order.status eq '2' or order.status eq '3')}">
                            <button th:if="${order.status eq '2'}" th:onclick="'window.location.href=\'/web/newOrders/returnBond?no='+${order.no}+'\''" class="btn btn-info"><i class="fa fa-flask"></i> 退压金</button>
                            <!--<button onclick="onRetreatBtnClick()" class="btn  btn-danger retreat-btn"><i class="fa fa-times-circle"></i> 全额退票</button>-->
                            <button onclick="onCancelBtnClick()" th:if="${order.type eq '4'}" class="btn btn-danger"><i class="fa fa-window-close"></i> 取消订单</button>
                        </div>
                        <div style="width:100%; padding-top:15px; padding-left:10px;" th:if="${order.isSelf eq '0' and (order.status eq '1')}">
                            <button th:onclick="'window.location.href=\'/web/newOrders/receiveMoney?no='+${order.no}+'\''" class="btn btn-info"><i class="fa fa-money"></i> 外卖收款</button>
                        </div>
                        <input id="ordersNo" th:value="${order.no}" type="hidden"/>
                        <input id="ordersStatus" th:value="${order.status}" type="hidden"/>
                        <input id="refundMin" th:value="${rules.refundMin}" type="hidden"/>
                        <input id="entryLong" th:value="${order.entryLong}" type="hidden"/>
                        <input id="ordersType" th:value="${order.type}" type="hidden"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>