<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="btn-group" style="float:right; padding-right:20px;">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-desktop"></i>&nbsp; 收银工作台 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/" ><i class="fa fa-tv"></i> 下单收银</a></li>
                    <li><a href="/web/newOrders/returnBond" ><i class="fa fa-gavel"></i> 退还压金</a></li>
                    <!--<li><a href="/web/newOrders/receiveMoney" ><i class="fa fa-money"></i> 外卖收款</a></li>-->
                    <li><a href="/web/newOrders/cal" ><i class="fa fa-random"></i> 收银对账</a></li>
                    <li><a href="/web/newOrders/list" ><i class="fa fa-list"></i> 订单列表</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/web/member/list" ><i class="fa fa-user-secret"></i> 会员列表</a></li>
                    <li><a href="/web/member/listCharges" ><i class="fa fa-list"></i> 会员充值记录</a></li>
                    <li><a href="/web/member/add" ><i class="fa fa-plus"></i> 新增会员</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)" onclick="printVoucher()"><i class="fa fa-ticket"></i> 打印消费单</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)" class="apply-card-btn"><i class="fa fa-ticket"></i> 申请卡券</a></li>
                    <li><a href="/web/card/listCardApply" class="apply-card-btn"><i class="fa fa-info-circle"></i> 未审核卡券</a></li>
                    <li><a href="/web/card/listCardCheck"><i class="fa fa-retweet"></i> 卡券核销记录</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/web/updatePwd" class=""><i class="fa fa-unlock-alt"></i> 修改密码</a></li>
                    <li><a href="/public/logout" class="logout-href"><i class="fa fa-close"></i> 退出登陆</a></li>
                </ul>
            </div>

            <ul class="opt-ul" th:if="${session.login_worker ne null}" style="float:right;">
                <li><a href="/public/logout" class="btn btn-danger logout-href"><i class="fa fa-lock"></i> 退出登陆</a></li>
                <!--<li><button class="btn btn-warning apply-card-btn"><i class="fa fa-ticket"></i> 申请卡券</button></li>-->
                <li><a href="/" class="btn btn-success" type="button" style="margin-right:3px;"><img th:if="${session.login_worker.headimgurl ne null}" th:src="${session.login_worker.headimgurl}" style="width:24px;border-radius:20px;"/><b th:if="${session.login_worker.headimgurl eq null}" class="fa fa-home"></b> <span class="cashier" th:text="${session.login_worker.name}"></span></a></li>
            </ul>
            <script type="text/javascript">
                function printVoucher() {
                    /**
                    $.post("/public/printVoucher",{},function(res) {
                        if(res=='1') {alert("生成成功，请等待打印消费单");}
                    }, "json");**/
                    var printHtml = '<h4>请输入顾客的人数：</h4>'+
                                    '<input name="voucherCount" type="text" onKeyUp="value=value.replace(/[^\\d]/g,\'\')" class="form-control" placeholder="输入顾客人数" />';;
                    var printOrdersDialog = confirmDialog(printHtml, "打印消费单", function() {
                        $.post("/public/printVoucher",{count:$(printOrdersDialog).find("input[name='voucherCount']").val()},function(res) {
                            if(res=='1') {alert("生成成功，请等待打印消费单");$(printOrdersDialog).remove();}
                        }, "json");
                    });
                }
            </script>
        </div>
    </body>
</html>
