<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webNewModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${session.company ne null?session.company.name:'收银台'}">收银台</title>

    <link type="text/css" rel="stylesheet" href="/web/multi/web-order-settle.css"/>
    <link type="text/css" rel="stylesheet" href="/web/multi/web-order-normal.css"/>
    <script style="text/javascript" src="/web/multi/web-order-settle.js"></script>
    <script type="text/javascript" src="/web/web-show-time.js"></script>
    <script type="text/javascript" src="/web/multi/on-settle-type.js"></script>
</head>
<body>
<!--onbeforeunload="return checkRefresh()"-->
    <div th:fragment="content" th:remove="tag">
        <div class="orders-main-div container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 left-party" style="background:#FFF; padding: 10px;">
                    <div class="order-menu-main">
                        <div class="store-name"><b>签王之王-昭通吾悦广场店</b><p>预结单</p></div>
                        <div class="order-pros">
                            <div style="flex: 1">单号：<b th:text="${order.no}"></b></div>
                            <div style="flex: 1">桌号：<b th:text="${order.tableName}"></b></div>
                            <div style="flex: 1">人数：<b th:text="${order.amount}"></b></div>
                        </div>

                        <ul class="nav nav-tabs food-nav-ul" style="margin-top:8px">
                            <li class="already-nav active" targetCls="food-list">
                                <a class="dropdown-toggle" href="#">有效菜品 <span class="badge red-badge useful-badge"></span></a>
                            </li>
                            <li class="new-append-nav" targetCls="refund-list">
                                <a class="dropdown-toggle">已退菜品 <span class="badge refund-badge"></span></a>
                            </li>
                        </ul>

                        <div class="food-list nav-con-div">
                            <ul class="normal-food-ul">
                                <li class="header">
                                    <div class="price">品名</div>
                                    <div class="total">数量</div>
                                    <div class="price">单价</div>
                                    <div class="money">小计</div>
                                </li>
                                <!-- 用于存放菜品 -->
                                <div class="food-list-container">
                                    <li data-toggle="tooltip" onClick="refundFood(this)" data-placement="right" title="点击可取消菜品" th:each="food : ${detailList}"  th:attr="foodId=${food.foodId},foodName=${food.foodName},batchNo=${food.batchNo},detailId=${food.id}"><!--  onmouseenter="onOperator(this)"  onmouseleave="finishOperator(this)">-->
                                        <div class="name" th:text="${food.foodName}"></div>
                                        <div class="total"><b th:class="${(food.amount gt 1)?'amount':'food_amount'}" th:text="${food.amount}"></b></div>
                                        <div class="price">￥<span th:text="${food.price}"></span></div>
                                        <div class="money">￥<b th:text="${#numbers.formatDecimal(food.price*food.amount,1,'COMMA',2,'POINT')}"></b></div>
                                    </li>
                                </div>
                            </ul>
                        </div>

                        <div class="refund-list nav-con-div" style="display: none;">
                            <ul class="normal-food-ul">
                                <li class="header">
                                    <div class="price">品名</div>
                                    <div class="total">数量</div>
                                </li>
                                <!-- 用于存放菜品 -->
                                <div class="refund-list-container">
                                    <li th:each="food : ${refundList}">
                                        <div class="name" th:text="${food.foodName}"></div>
                                        <div class="total"><b th:class="${(food.amount gt 1)?'amount':'food_amount'}" th:text="${food.amount}"></b></div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7" style="padding-left: 10px">
                    <div class="content-main">
                        <input th:value="${order.no}" name="orderNo" type="hidden"/>
                        <div class="store-name"><b>签王之王-昭通吾悦广场店</b><p>收银台</p></div>
                        <div class="confirm-div">
                            <div class="order-type-div" style="padding-bottom: 10px;">
                                <span>订单性质：</span>
                                <div class="btn-group order-type-div" role="group" aria-label="...">
                                    <button type="button" orderType="1" th:class="'btn btn-default '+${(order.type eq null or order.type eq '' or order.type eq '1')?'btn-info':''}" ><i class="fa fa-gavel"></i> 正常</button>
                                    <button type="button" orderType="2" th:class="'btn btn-default '+${order.type eq '2'?'btn-info':''}" title="认真输入美团编号"><i class="fa fa-tumblr"></i> 美团（断网）</button>
                                    <button type="button" orderType="3" th:class="'btn btn-default '+${order.type eq '3'?'btn-info':''}" title="请选择相应套餐"><i class="fa fa-tumblr"></i> 套餐抵价</button>
                                </div>
                            </div>
                            <div class="special-type" style="display:none">

                            </div>

                            <!-- 用于折扣 -->
                            <input name="discount" type="hidden"/>

                            <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">订单金额：</span>
                                <span class="form-control"><b class="total-money" style="font-size:22px;">-</b> 元</span>
                                <div class="input-group-addon" style="padding:0px 12px;" data-toggle="tooltip" data-placement="top" title="勾选上即抹零">
                                    <input type="checkbox" name="money-check" class="count-money-check" onchange="changeCheck()"/>
                                </div>
                            </div>
                            </div>

                            <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">付款方式：</span>
                                <div class="form-control" style="padding-top: 5px;">
                                    <div class="pay-type-div">
                                    <button class="btn pay-type-btn" payType="1">现金</button>
                                    <button class="btn pay-type-btn" payType="2">微信</button>
                                    <button class="btn pay-type-btn" payType="3">支付宝</button>
                                    <button class="btn pay-type-btn" payType="4">刷卡</button>
                                    <button class="btn pay-type-btn" payType="5">商场</button>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">用餐时间：</span>
                                    <span class="form-control" th:text="${order.createTime}"></span>
                                    <span class="input-group-addon">~</span>
                                    <span class="form-control" th:text="${order.endTime}"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">用餐时长：</span>
                                    <span class="form-control show-seconds-now" th:if="${order.status eq '0'}" th:text="${order.createLong}"></span>
                                    <span class="form-control show-seconds" th:if="${order.status ne '0'}" th:text="${order.endLong - order.createLong}"></span>
                                </div>
                            </div>

                            <div class="form-group" style="text-align:right">
                                <p>所需支付金额：￥ <b class="total-money2" style="font-size: 40px; padding-right: 10px; color:#F00;"></b>元</p>
                                <button class="btn btn-info btn-lg " onclick="printOrder()">打印结算单</button>
                                <button class="btn btn-primary btn-lg " onclick="submitMoney()">确定结账</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>