.foot-list-main {
    display: flex;
}
.category-main {

}
.category-main ul {padding:0px; background:#f7f7f7; display: inline;}
.category-main ul li {
    list-style:none; text-align:center; height: 40px; line-height: 40px; padding: 0px 15px; margin: 12px; border:1px #e0e0e0 solid; cursor:pointer; float: left;
}
.food-list-con {
    flex: 1; display: block-inline;
}
.single-food {
    width: 120px; float:left; border:1px #e0e0e0 solid; margin: 5px;
}
.single-food img {
    width:120px; height: 100px;
}
.single-food .name {text-align: center; padding-top: 3px;}
.single-food .price {text-align: center; }
.single-food .price b {color:#F20;}

.canClick {cursor: pointer;}

.red {
    color:#F00;
}


.detail-div {
    //border:1px red solid;
}

.single-detail {
    border: 1px #e0e0e0 solid; padding:8px 0px; float:left; margin: 10px; padding: 10px 20px; border-radius: 5px; background:#fafafa;
}