.order-menu-main {
	width: 100%;
}
.store-name {
	width: 100%; text-align:center; font-weight:bold; font-size: 16px; border-bottom:1px #aaa dotted; padding-bottom: 6px;
	display:flex; line-height: 35px; text-align:center;
}

.order-no {
    line-height: 30px;
}

.table-info-main {
    width:100%; display: flex; border-bottom: 1px #aaa dotted; padding: 9px;
}
.table-info-main .table-name {
    font-size: 16px; line-height: 35px; flex: 1; color:#999;
}
.table-info-main .table-name b {
    color:#00F;
}
.table-info-main .people-amount {
    width: 110px;
}



.new-append-div {
    width:100%; display: none;
}
.normal-food-ul {
    width: 100%; padding:0px;
}
.normal-food-ul li {
    list-style: none; padding:0px;
    display: flex; line-height: 28px; position: relative;
}
.normal-food-ul li div {
    padding: 5px; flex: 1; text-align:center; color:#888;
}
.normal-food-ul li div.name {
    color:#222;
}
.normal-food-ul li.header {
    line-height: 30px; border-bottom: 1px #ddd solid; background:#f7f7f7;
}
.normal-food-ul li.header div {
    font-weight:bold;
}

.normal-food-ul li .amount {
    color:#F00; font-size: 16px; padding-left: 2px;
}
.normal-food-ul li .total {
    color:#000;
}

.normal-food-ul li.result {
    border-top: 1px #ddd solid;
}

.normal-food-ul li.result .total {
    font-size: 18px; color:#00F; font-weight:bold;
}

.new-append-border {
    border:2px #f00 solid;
}

.food-nav-ul li {
    cursor: pointer;
}

.submit-food-div {
    width: 100%; text-align:center; background:#f7f7f7; padding: 6px 0px;
}

.red-badge {
    background:#F00;
}

.table-btn {
    margin: 5px;
}