.order-menu-main {
}
.store-name {
    width:100%; text-align:center; border-bottom: 1px #ccc solid;
}
.store-name b {
    width:100%; font-weight: bold; font-size: 16px; text-align:center; line-height: 35px;
}
.store-name p {
    width: 100%; font-size: 14px; color:#666; text-align:center;
}

.order-pros {
    display: flex; margin-top: 12px;
}


.food-list {
    width:100%; margin-top: 8px;
}
.normal-food-ul {
    padding: 0px;
}
.normal-food-ul li {
    list-style: none; padding:0px;
    display: flex; line-height: 28px; position: relative;
}
.normal-food-ul li.header {
    background: #eee;
}
.normal-food-ul li div {
    flex: 1; text-align:center; padding:5px;
}


.content-main {
    width:100%; background:#FFF; padding:10px;
}

.confirm-div {
    margin-top: 12px;
}

.total-money {
    color:#F00;
}

.count-money-check:checked::after {
    content: '\2714';
    display: block;
    color: #fff;
    text-align: center;
    background: rgba(61, 170, 230, 1);
    border-radius: 5px;
}

.count-money-check {
    /*去除浏览器默认样式*/
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;

    content: '\2713';
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 2px #3daae6 solid; background:#FFF; border-radius: 5px;
}

